@import './base/mixins';
@import './base/fonts/fonts';
@import './base/constants';
@import './base/icons';

* {
  margin: 0;
  padding: 0;
}

body {
  //color: $defaultTextColor;
  background-color: $default-background-color;
  font: 1rem $default-font-family;
  color: #000;
}

div {
  box-sizing: border-box;
}

h2 {
  font: 1.5rem $title-font-family;
  margin-bottom: 7px;
}

p {
  font-size: 0.9375rem;
  margin-bottom: 26px;
  line-height: 22px;
}

.link {
  color: $default-link-color;
}



