@import '../../styles/base/mixins';
@import '../../styles/base/constants';

.field {
  &_label {
    font: 1.075rem $PTSans-bold;
    width: 100%;
  }

  &_input {
    font: 1.875rem $form-field-font-family;
    &:focus,
    &:active {
      outline: none;
    }
  }
}
