@import '../../styles/base/mixins';
@import '../../styles/base/constants';

.profile {
  &_base_info {
    margin-bottom: 60px;
  }

  &_title {
    text-align: center;
    padding-top: 9px;
    margin-bottom: 26px;

    .icon_title {
      display: inline-block;
      position: relative;
      left: -18px;
    }
  }
}